

body {
}

/* HEADER */
header {
  color: white;
  text-align: center;
  padding: 40px 20px;

}
    
        body::before {
            content: '';
            position: fixed;
            inset: 0;
            background-image: url("fondo.png");
            background-size: cover;
            background-position: center;
            filter: blur(3px);
            transform: scale(1.05);
            z-index: -1;
            }

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.1rem;
  color: #cce0ff;
}

/* MAIN y secciones */
main {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

     body::before {
            content: '';
            position: fixed;
            inset: 0;
            background-image: url("fondo.png");
            background-size: cover;
            background-position: center;
            filter: blur(3px);
            transform: scale(1.05);
            z-index: -1;
            }

section {
  background-color: white;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 25px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #1a73e8;
  font-size: 1.5rem;
  margin-bottom: 15px;
  border-bottom: 2px solid #1a73e8;
  padding-bottom: 8px;
}

section p {
  line-height: 1.7;
  margin-bottom: 15px;
}

/* Listas */
ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 8px;
  color: #555;
}


section:hover {
  box-shadow: 0 4px 16px rgba(26, 115, 232, 0.2);
}

/* FOOTER */
footer {
  background-color: #333;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 20px;
  color: #ccc;
  text-align: center;
  padding: 20px;
  font-size: 0.85rem;
}
