body {
background-color: #f0f4f8;
}

.carta {
  align-items: center;
  justify-content: center;
  background-color: #e4e4e4;
  min-height: 120px;
}

.carta img {
  width: 110px;
  height: 110px;
  object-fit: contain;
}


